/* Page background */

body{

margin:0;

font-family:Arial, Helvetica, sans-serif;

height:100vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

background: linear-gradient(135deg,#0f172a,#020617);

color:white;

}



/* Title */

h1{

font-size:45px;

margin-bottom:30px;

color:#3b82f6;

}



/* Login box */

#Login_ID{

background:#020617;

padding:40px;

border-radius:12px;

border:1px solid #1e293b;

box-shadow:0 10px 30px rgba(0,0,0,0.6);

display:flex;

flex-direction:column;

align-items:center;

width:300px;

}



/* Input fields */

input{

width:100%;

padding:12px;

margin:10px 0;

border-radius:6px;

border:1px solid #334155;

background:#020617;

color:white;

font-size:14px;

}



/* Input focus */

input:focus{

outline:none;

border:1px solid #3b82f6;

}



/* Buttons */

button{

width:100%;

padding:12px;

margin-top:10px;

border:none;

border-radius:6px;

background:#2563eb;

color:white;

font-size:15px;

cursor:pointer;

transition:0.3s;

}



/* Button hover */

button:hover{

background:#1d4ed8;

}



/* Signup button style */

#signupBtn{

background:transparent;

border:3px solid #3b82f6;

color:#0d5fe1;

padding: 10;

width: 300px;
}



#signupBtn:hover{

background:#3b82f6;

color:white;

}